.container {
  display: flex;
  width: 100%;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
}

.image {
  width: 100%;
  min-width: 225px;
  max-width: 300px;
  aspect-ratio: 9 / 16;
  border-radius: 20px;
}
@media screen and (min-width: 800px) {
  .container {
    // outline: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    padding: 0 8rem;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    // outline: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem 3rem;
    padding: 0;
    flex-wrap: nowrap;

  }
}



