
.container {
  width: 100%;
  max-width: 285px;
  min-width: 175px;
  min-height: 175px;
  aspect-ratio: 1;
  // min-height: 10rem;
  // min-height: 250px;
  border-radius: 5%;
  outline: .45rem solid white;
  padding: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: clamp(1.2rem, 100%, 1.5rem);
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
}

.content {
  // margin: 1rem 0;
  font-size: clamp(1rem, 90%, 1.2rem);
  text-align: center;
  font-weight: 700;
  line-height: 135%;
}

.image {
  width: 85px;
  height: 85px;
  position: relative;
  align-self: center;
  margin-bottom: 10px;
}