.container {
  min-height: 100vh;
  // min-height: 45rem;
  // max-height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childContainer {
  // outline: 1px solid red;
  padding: 2rem 0;
  width: clamp(30vw, 100%, 80vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2.5rem;
}