.container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  // outline: 1px solid red;
  width: 100%;
  padding: 0 5vw;
  padding-top: 1rem;

  a {
    display: block;
    font-size: clamp(0.8rem, 3vw, 1.1rem);
    font-weight: 700;
  }
}

.linkItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .container {
    display: none;
  }
}
