.container {
  position: absolute;
  display: flex;
  justify-content: center;
  // outline: 1px solid red;
  width: 80%;
  padding: 0 5vw;
  padding-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.linkItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.icon {
  display: block;
  cursor: pointer;
}

.linkText {
  font-weight: 600;
  cursor: pointer;

}

@media screen and (max-width: 599px) {
  .linkText {
    display: none;
  }
}
