.container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  // outline: 1px solid red;
  width: 100%;
  padding: 0 5vw;
  padding-top: 1rem;

  a {
    display: block;
    font-size: clamp(0.75rem, 3vw, 1.1rem);
  }
}

.linkItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
