.container {
  border-radius: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #499feb;
  border: none;
  width: 60px;
  height: 60px;
  box-shadow: 3px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imgWrapper {
  position: relative;
  width: 65%;
}