.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // outline: 1px solid black;
}

.title {
  font-size: clamp(2rem, 30vw, 7rem);
}

.subTitle {
  font-size: clamp(1rem, 7vw, 3rem);

}
